

//Primer esquema de colores

$black-1:#252525;
$white:#ffffff;
$gray:#A0A0A0;


//Tipografias

$lato: 'Lato', sans-serif;

//peso de fuentes

$light:300;
$regular:400;
$bold:700;
$black:900;

//Tamaño de fuentes
$xx-large:4rem;
$x-large:3rem;
$large:2rem;
$medium:1rem;

